body {
    font-family:arial;
    margin-top: 60px;
    color:black;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
    {
        background-color:white;
    max-width: 800px;
font-family: Consolas;
margin: 0 auto;
padding-right: 20px;
padding-left: 20px;
color: green;
    }