body {
    font-family:arial;
    margin-top: 60px;
    color:green;
    background-color:black;
} 

/*               harikshore's styling

body{
background-color: #f1f1f1;
font-family: "Helvetica Neue";
color: #3b3b3b;
*/



hr{
    color:green;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.header{
    font-size:200%;
    margin: 0 auto;
    font-family: Consolas;
    padding-bottom:100px;
}

.img-medium {
    height: 250px;
}

 .container
    {
        background-color:black;
    max-width: 800px;
font-family: sans-serif;
margin: 0 auto;
padding-right: 20px;
padding-left: 20px;
color: green;
    }