body {
    font-family: arial;
    background-color :green;
    margin-top: 75px;
    color:white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
    {
    max-width: 800px;
font-family: consolas;
margin: 0 auto;
padding-top: 50px;
padding-right: 20px;
padding-left: 20px;
color: #8BC34A;
    }